body
{
    background-color: #000;
}
header
{
    min-width: 100%;
    opacity: 0.8;
    position: fixed;
    background-color: black
}
.create
{
    display: flex;
    justify-content: flex-end
}
.go-back
{
    background-color: green
}
h1, h2
{
    color: #fff;
    font-weight: bolder
}
.container
{
    background-color: #fff;
    padding: 0.5rem;
    margin: 4rem auto;
    border-radius: 5px;
    border: 1px solid #fff;
    box-shadow: -20px -15px 25px #999;
}
a
{
    text-decoration: none;
    color: black;
}
a:hover
{
    text-decoration: none;
}
#s-character
{
    display: flex;
    flex-wrap: wrap;
    border: 0px solid black;
    background-color: #ccc;
    margin: 2rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 20px 15px 25px black;
    transition: all 0.5s;
}
#s-character:hover, button:hover
{
    border-radius: 0px;
    box-shadow: 10px 10px 5px gray;
    transform: scale(1);
     
}
.s-title
{
    text-align: center;
}
.s-des
{
    text-align: justify;
}

.btn
{
    display: flex;
    justify-content: space-around;
}

button:hover
{
    border-radius: 0px;
    box-shadow: 10px 10px 5px gray;
    transform: scale(1.1);
     
}

button
{
    background-color: #3191ea;
    padding: 0.5rem;
    border: 1px solid #ccc;
    color: #fff;
    font-weight: bold;
    border-radius: 5px; 
    transition: 0.5s
}

img
{
    width: 100%;
    transition: 1s;
}
.img
{
    display: flex;
    justify-content: center
}
img:hover
{   
    transform: rotate3d(30, 1, 0, 180deg);
}